<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="">HOME</a>
        <a class="nav-link active" aria-current="page" href="">ABOUT</a>
        <a class="nav-link active" aria-current="page" href="">CATEGORY</a>
        <a class="nav-link active" aria-current="page" href="">ORDER</a>
        <a class="nav-link active" aria-current="page" href="">PRODUCT</a>
        <a class="nav-link" href="">PROFILE</a>
        <a class="nav-link" href="">LOGOUT</a>
        <a class="nav-link" href="">REGISTER</a>
        <a class="nav-link" href="">LOGIN</a>
      </div>
    </div>
  </div>
</nav>